<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='user_dashboard.css') }}">
</head>
<body>
  <header>
    <h1>User Dashboard</h1>
  </header>
  <main>
    <h2>Select a Subject:</h2>
    <div class="subjects">
      <ul class="subjects">
        <button onclick="location.href='{{ url_for('enrollment', subject='Pharmacology') }}'">Pharmacology</button>
        <button onclick="location.href='{{ url_for('enrollment', subject='Pharmaceutical Chemistry') }}'">Pharmaceutical Chemistry</button>
        <button onclick="location.href='{{ url_for('enrollment', subject='Pharmaceutics') }}'">Pharmaceutics</button>
        <button onclick="location.href='{{ url_for('enrollment', subject='Pharmacokinetics') }}'">Pharmacokinetics</button>
        <button onclick="location.href='{{ url_for('enrollment', subject='Toxicology') }}'">Toxicology</button>
        <button onclick="location.href='{{ url_for('enrollment', subject='Biopharmaceutics') }}'">Biopharmaceutics</button>
        <button onclick="location.href='{{ url_for('enrollment', subject='Medicinal Chemistry') }}'">Medicinal Chemistry</button>
    </ul>
    
  </main>
  <footer>
    <a href="{{ url_for('index') }}">Logout</a>
  </footer>
</body>
</html>
